

.DS_Store
.gitignore
**.aux
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
TEMPLATE/*
# **/\_\_*_temp.tex
# **/\_\_*_temp.pdf


# exception: ignore this
**/\_\_latexindent\_temp.tex
**/\_\_latexindent\_temp.pdf